body {
	margin: 0;
    color:white;
    background-color: rgb(156, 153, 153);
	text-align: center;
}
header{
	width: 100%;
	margin: 0 auto;
	padding: 1em;
	background-color: rgb(3, 77, 51);
}
.inv{
	color: black;
}
.invLbl{
	color: black;
	font-size: 25pt;
	font-weight: bold;

}
h1 {
    color: gold;
	text-decoration: underline;
	text-shadow: 2px 2px 2px brown;
    
}
.container,
.solucion {
	background-image: linear-gradient(135deg, rgb(3, 77, 51), rgb(23, 95, 25));
	width: 95%;
	max-width: 1400px;
	border: 2px #eee dashed;
	border-radius: 20px;;
	padding: 1% 5% 2%;
	margin: 0px auto;
	position: relative;
}
h1{
	font-size: 30pt;
}
.container 
div h3 {
	font-size: 20pt;
	text-decoration: underline;
}
table {
	width: fit-content;
	padding: 0em 0.5em;
	margin: auto;
}
td {
	width: 5em;
}
h2{
	font-size: 25pt;
	text-decoration: underline;
}
.personajes .celda,
.lugares .celda,
.herramientas .celda{
	padding: 0.5em 1% 0.5em 10%;
	font-size: 17pt;
	margin: auto;
}
input[type="checkbox"]{
	cursor: pointer;
}
.formulario .personajes label{
	display: inline-block;
	position: relative;
	cursor: pointer;
	padding: 5px 10px;
}
.formulario input:checked{
	display: none;
}
.tabla{
	width: 70%;
	max-width: 1200px;
}
.boton1 {
	font-size: 12pt;
	cursor: pointer;
	border-radius: 5px;
	border: 1px solid black;
	box-shadow: 2px 2px 3px black;
}
.boton2 {
	width: 10em;
	height: 2em;
	font-size: 15pt;
	cursor: pointer;
	border-radius: 5px;
	border: 1px solid black;
	box-shadow: 2px 2px 3px black;
}
.boton1:hover,
.boton2:hover{
	background-color: rgb(192, 174, 128);
}
.boton:active + .invest{
	display: none;
}
.resp{
	font-size: 15pt;
}
.sol{
	font-size: 17pt;
	font-weight: bold;
	color: gold;
}
footer{
	width: 100%;
	margin: 0 auto;
	padding: 1em;
	background-color: black;
}
footer a{
	color: white;
}
footer a:hover{
	color: gold;
}