body {
	font-family: 'Playfair Display', serif;
	margin: 0;
    color:white;
    background-color: rgb(3, 77, 51);
	text-align: center;
}

header{
	width: 100%;
	margin: 0 auto;
	padding:0.5em 1em;
}
header a{
	color: gold;
	font-size: 17pt;
}
header a:hover{
	color: rgb(249, 233, 138);
}

/* links */
.link{
	font-size: 2em;
	color: gold;
}
.link:hover{
	color: rgb(249, 233, 138);
}

/* etiqueta investigador */
.inv{
	font-size: 2em;
	color: gold;
}
.invLbl{
	color: gold;
	font-size: 4em;
	font-weight: bold;

}
.invest{
	font-size: 2em;
}

/* contenedores de elementos */
.reglamento,
.container,
.solucion {
	background-image: linear-gradient(135deg, rgb(0,0,0), rgb(0,0,0,.3), rgb(0,0,0));
	width: 95%;
	max-width: 1000px;
	border: 2px #eee dashed;
	border-radius: 20px;;
	margin: 0px auto;
	padding: 20px 30px;
}

/* h tags */
h1{
	font-size: 5em;
	color: gold;
	text-decoration: underline;
	text-shadow: 2px 2px 2px brown;
}
h2{
	font-size: 4em;
	text-decoration: underline;
}
h3 {
	font-size: 3em;
	text-decoration: underline;
}
table {
	margin: auto;
}
td {
	width: 1.5em;
}

/* celdas de botones*/
.personajes .celda,
.lugares .celda,
.herramientas .celda{
	font-size: 2.5em;
	margin: auto;
}
.tabla{
	position: relative;
}

/* labels victima */
.celda input[type="checkbox"]{
	display: none;
}
.victLbl {
	width: 7em;
	height: 1.5em;
	background-color: rgba(0,0,0,0.2);
	color: #FFF;
	padding: 5px 15px 5px 70px;
	display: inline-block;
	position: relative;
	font-size: 1em;
	border-radius: 10px;
	cursor: pointer;
}

.victLbl:after,
.victLbl:before {
	content: "";
	width: 20px;
	height: 20px;
	display: inline-block;
	background-color: rgba(0,0,0,0.1);
	border: 3px solid red;
	border-radius: 20%;
	position: absolute;
	left: 15px;
	top: 15px;
	z-index: -1;
}

.victLbl:hover {
	background-color: rgba(0, 116, 217,0.1);
	animation: mover 0.3s linear;
	animation-delay: -.1s;
	animation-iteration-count: 1;
}
.victLbl:hover:after {
transform: translate(6px, 6px);	
}
.victLbl:hover:before {
transform: translate(12px, 12px);	
}
.victChk:checked + .victLbl{
	padding: 5px 15px;
	background-color: red;
	border-radius: 10px;
	color: #000;
	text-decoration: line-through;
}

.victChk:checked + .victLbl:before{
	display: none;
}
.sep{
	width: 7em;
	height: 2em;
}

@keyframes mover {
	50% {
		font-size: 1.2em;
		width: 9em;
		height: 2em;
		background-color: pink;
		color: black;
	}
}

/* solucion */
.solTabla{
	font-size: 1.5em;
}
.resp{
	font-family: 'Dancing Script', cursive;
	font-size: 3em;
}
.sol{
	font-family: 'Dancing Script', cursive;
	font-weight: bold;
	color: gold;
}


/* reglamento */
.reglamento{
	font-size: 1.5em;
}

/* footer */
footer{
	width: 100%;
	margin: 0 auto;
	padding: 2em;
}