body {
	margin: 0;
    color:white;
    background-color: black;
	text-align: center;
	text-shadow: 2px 2px 2px brown;
}
h1 {
    color: red;
	text-decoration: underline;
    
}
.container {
	width: 30%;
	border: 2px #eee dashed;
	border-radius: 2px;;
	padding: 1% 5% 2%;
	margin: 0px 30% 0px;
	position: relative;
}
.container 
div h3 {
	text-decoration: underline;
}
table {
	margin: 0 auto;
}
td {
	width: 5em;
}
.personajes .celda,
.lugares .celda,
.herramientas .celda{
	padding: 0.5em 1% 0.5em 10%;
	font-size: 15pt;
}
input[type="checkbox"]{
	cursor: pointer;
}
.formulario .personajes label{
	display: inline-block;
	position: relative;
	cursor: pointer;
	padding: 5px 10px;
}
.formulario input:checked{
	display: none;
}